.dropdown {
  position: relative;
  display: inline-block;
  .dropdown-menu {
    &.invisible {
      opacity: 0;
    }
    position: absolute;
    transition: opacity .25s ease-in-out;
    z-index: 30;
    width: auto;
    margin: 2px 5px;
    background: @inverted;
    box-shadow: @shadow;
    border-radius: @border-radius;
    top: 100%;
    right: 0;
    .dropdown-item {
      user-select: none;
      cursor: pointer;
      white-space: nowrap;
      padding: .8em 1em;
      text-align: left;
      font-size: 0.95em;
      border-radius: @border-radius;
      &:hover:not(:active), &:focus:not(:active) {
        background: darken(@inverted, 2%);
      }
      &:active {
        background: darken(@inverted, 5%);
      }
      .fa {
        padding: 0 5px;
      }
    }
    .dropdown-divider {
      height: 1px;
      background-color: darken(@inverted, 2%);
    }
  }
}