.header {
  background: @header-color;
  color: @inverted;
  height: 125px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  .header-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    .header-title {
      margin-top: 15px;
      .header-title-primary {
        font-size: 3em;
        margin: 10px 0;
      }
      .header-title-secondary {
        font-size: 1.2em;
      }
    }
  }
}