.input-container {
    display: inline-flex;
    &:not(.input-container-inline) {
      flex-direction: column;
      align-items: flex-start;
    }
    &.input-container-inline {
      flex-direction: row;
      align-items: baseline;
    }
    label {
      margin-bottom: 5px;
      margin-right: 10px;
    }
    small {
      margin-top: 3px;
      color: @muted;
      text-align: left;
    }
    .input-wrapper {
      position: relative;
      display: inline-flex;
      flex-direction: column;
    }
    &.has-before-icon {
      input { 
        padding-left: 28px;
      }
      .fa.before {
        color: @primary;
        position: absolute;
        left: 10px;
        bottom: 50%;
        padding-bottom: 2px;
      }
    }
    &.has-after-icon {
      input {
        padding-right: 28px;
      }
      .fa.after {
        position: absolute;
        right: 10px;
        bottom: 50%;
        padding-bottom: 2px;
      }
    }
    &:not(.disabled) input {
      background: @light;
    }
    &.disabled input {
      background: darken(@light, 15%);
      border: 1px solid darken(@bg, 15%);
    }
    &.input-default input {
      border-color: @bg;
    }
    &.input-primary input {
      border-color: @primary;
    }
    &.input-success input{
      border-color: @success;
    }
    &.input-info input {
      border-color: @info;
    }
    &.input-warning input {
      border-color: @warning;
    }
    &.input-danger input {
      border-color: @danger;
    }
    .input-wrapper-input {
      display: inline-flex;
      flex-direction: row;
      align-items: flex-start;
    }
    input {  
      &:focus {
        border-color: @primary;
      }
      &::placeholder{
        color: darken(@bg, 10%);
      }
      border-width: 1px;
      border-style: solid;
      outline: none;
      color: @dark;
      position: relative;
      padding: 0px 8px;
      line-height: 1em;
      display: inline-block;
      height: 33px;
      border-radius: @border-radius;
      width: inherit;
      min-width: 250px;
    }
  }