@import './variables.less';
@import './button.less';
@import './typography.less';

.hidden {
  display: none !important;
}
.invisible {
  visibility: hidden !important;
}
.clickable {
  cursor: pointer !important;
}
.disabled {
  cursor: not-allowed;
}