.tag {
  display: inline-block;
  padding: 5px 10px;
  margin: 5px;
  color: @primary;
  background: @light;
  border: 1px solid @primary;
  border-radius: @border-radius;
  .fa {
    padding: 0 10px 0 5px;
    cursor: pointer;
  }
}