@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700&amp;subset=latin-ext');
@font-family: 'Lato', sans-serif;


@primary: #005d98;
@secondary: #fff;
@success: #00C851; 
@info: #0099CC;
@warning: #ffbb33;
@danger: #ff4444;

@light: #fff;
@dark: #505050;
@muted: #f3f3f4;

@shadow: 0 0 15px #e8e8e8;

@font-size: 14px;
@border-radius: 2px;

